---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <!-- <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=21513c&w=386&t=n&d=S-FQeFvkQcAKh70nhnR0mGxAe6E6wHS2x5C21LWR-YU&co=2d78ad&cmo=ffa500&cmn=ff4924&ct=ffffff'></script> -->
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=9b9xi3zLdLHDeC1fiaV3DM-uiIDpEGSDrwGyAxlt8vk&cl=ffffff&w=a"></script>

  </body>
</html>
